header{
    width: 100%;
}

#navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;

}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Mantém a navbar acima dos outros elementos */
    background-color: #F5F5F5;    
    border-bottom: 1px solid #b4b4b4;
}

#nav_logo{
    font-size: 30px;
    padding: 1%;
    padding-right: 76%;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 200px;
    font-size: 18px;
}

.nav_item a{
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}

.nav_item.active a{
    color: #4057CF;
    border-bottom: 3px solid #4057CF;
}

.nav_item a:hover {
    color: #4057CF; 
    border-bottom: 3px solid #4057CF;
}

#slogan{
    margin: 0% 1% 1% 1%;
}

/* menu em barras */
#mobile_btn {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer; 

}

#mobile_menu {
    display: none;
}

@media screen and (max-width: 1170px) {
    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list.nav_item {
        list-style: none;
        text-align: center;
    }
}


#capa{
    width: 100%;
    height: 500px;
    display: block; 
    padding-bottom: 4%;
}

.text-overlay {
    position: absolute;              
    top: 30%;                        
    left: 50%;                       
    transform: translate(-50%, -50%);
    width: 80%; 
    height: 60px;
    border-radius: 0;     
    resize: none;   
    border: none;             
    border-bottom: 2px solid white; 
    color: white;
    background-color: transparent;
    outline: none; /* Remove o contorno ao focar */
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}


