header{
    width: 100%;
}

#navbar{
    width: 100%;
    display: flex;
    justify-content: center;
}

#nav_logo{
    font-size: 30px;
    padding: 1%;
    padding-right: 76%;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 200px;
    font-size: 18px;
}

.nav_item a{
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}

.nav_item.active a{
    color: #4057CF;
    border-bottom: 3px solid #4057CF;
}

.nav_item a:hover {
    color: #4057CF; 
    border-bottom: 3px solid #4057CF;
}

#slogan{
    margin: 0% 1% 1% 1%;
}

/* menu em barras */
#mobile_btn {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer; 

}

#mobile_menu {
    display: none;
}

@media screen and (max-width: 1170px) {
    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list.nav_item {
        list-style: none;
        text-align: center;
    }
}


#capa{
    width: 100%;
    height: 500px;
    display: block; 
    padding-bottom: 4%;
}

.text-overlay {
    position: absolute;              /* Posicionamento absoluto dentro do contêiner */
    top: 35%;                        /* Posiciona a 50% da altura do contêiner */
    left: 50%;                       /* Posiciona a 50% da largura do contêiner */
    transform: translate(-50%, -50%); /* Centraliza vertical e horizontalmente */
    width: 80%;                      /* Largura da caixa de texto */
    border-bottom: #fff;
    border-radius: 5px;              /* Bordas arredondadas */
    font-size: 16px;                 /* Tamanho do texto */
    resize: none;                    /* Desativa o redimensionamento */
}


